.Homepge-6-jan-2{
    position: absolute;
    top: 1750px;
    width: 100%;
    height: 307px;

   color: #333;
    
}
.narekimg2{
    position: relative;
    left: 50px;
}
.Homepge-6-jan .text3{
    color: #333;
}
.wrapper-tall-top{
    position: absolute;
   
    bottom: 80px;
  
}
#clone_8 {
    position: absolute;
    margin-top: 130px;
    margin-left: 850px;
}
.col_8 .narekimg2{
    width: 100%;
    max-width: 480px;
    position: relative;
    vertical-align: bottom;
    z-index: 7;
}
#endure p{
   line-height: 1.5em;
    font-size: 1.15em;
}