.Homepge-3-2 {
    position: absolute;
    margin-top:690px;
    margin-left: 355px;
    text-align: center;
}
.Homepge-3-2 #DTG-landing a{
    color: #333;
    
    float: left;
    position: relative;
    right: 50px;
    margin-left: 100px;
    
}

  .Homepge-3-2 #inf{
    margin-bottom: 75px;
}
.Homepge-3-2 #row-block h1, h2, h3 {
    
    color: #3C4858;
    margin: 0 0 .5em;
    font-weight: 700;
}
.Homepge-3-2 h3 {
    font-size: 1.375rem;
    line-height: 2.25rem;
}
.Homepge-3-2 hr.gradient-teal-purple {
    display: block;
    width: 150px;
    height: 2px;
    margin-top: 2.5em;
    margin-bottom: 2.5em;
    background: linear-gradient(to right, #13beca, #4287da, #7847ec);
    border: none;
}
.Homepge-3-2 #inf p {
    line-height: 1.667;
    font-family: "Open-Seans-Links";
    color: #3C4858;
   
}
.Homepge-3-2  .titlos{
    color: black;
    font-family: "Work Sans",sans-serif;
}
.Homepge-3-2 p.subs{
    line-height: 1.667;
    font-family: "Open-Seans-Links";
    color: #3C4858;
}
.Homepge-2-pageTwo h1{
    font-family: "Work Sans",sans-serif;
}
.Homepge-1009 h2{
   
    font-family: "Work Sans",sans-serif;
}
#DTG-landing h3{
    font-family: "Work Sans",sans-serif;
}
#bitp-2{
    color: #3C4858;
    font-size: 1.75rem;
    line-height: 2.5rem;
    font-weight: 600;
     
}
.Homepge-3-2  .elements img {
    max-height: 60px;
    margin-bottom: 20px;
}