.footerblock-2{
    position: absolute;
    margin-top: 3280px;
}

.footerblock-2.footer-block ul li a{
    color: #3C4858;
    font-family: "Open-Seans-Links";
    font-weight: 300;
    font-size: .75em;
    border-bottom: 1px solid transparent;
    
}
body{

}
.cta-link {
    font-weight: 700;
    text-decoration: underline;
    color: #04BF74;
}

.footerblock-2 footer #footer-nav #footer-nav-bottom ul li ul li {
    text-transform: none;
    font-size: .195em;
    margin: .5em 0;
}
.footerblock-2footer #footer-nav #footer-nav-bottom ul li {
    font-size: .85em;
    flex-grow: 1;
}
.footerblock-2.footer-flex-container li{
    display: table-cell;
    padding-left: 50px;

}

.footerblock-2.footer-flex-container li ul li{

    display: table-cell;
    vertical-align: middle;
    display: block;
    padding: 0;
    position: relative;
    top: 15px;
    

    
   
    
    color: #ccc;
    position: relative;


}
.footerblock-2.footer-flex-container li ul li a{

    font-weight: 300;
    color: #3C4858;
    line-height: 1.667;
} 
.footerblock-2.footer-flex-container li a{ 
    color: #3C4858;
    font-weight: bold;
    font-family: "Open Sans",sans-serif;
    font-size: .85em;
    border-bottom: 1px solid transparent;
   

}
.footerblock-2.footer-social-2{
    position: relative;
    margin-left: 950px;
    bottom: 150px;
    width: 150px;
    background: none;
}
.footerblock-2.footer-social-2 ul li{
    display: inline;
    padding-left: 150px;
}
.footerblock-2.footer-social-2 a{
    color: #333;
}

.footerblock-2#ender li{
    display: inline;
    padding-left: 25px;
    margin: 0;
}
.footerblock-2footer{
    position: absolute;
}
.footerblock-2#groupimg{
    max-width: 104px;
    position: relative;
    top: 30px;
}
.footerblock-2.footer-nav{
    margin-left: 420px;
   position: relative;
   bottom: 50px;

}
.footerblock-2footer #footer-sub p {
    display: block;
    margin-top: 2em;
    margin-bottom: 0;
    font-size: .65em;
    color: #3C4858;
    position: relative;
    left: 500px;
}
.footerblock-2#ender li a{
    color: #3C4858;
    font-weight: bold;
    font-size: .85em;
    border-bottom: 1px solid transparent;
}
#ender li a:hover{
    cursor: pointer;
    border-bottom: solid 1px black;
}
.footer-flex-container li a:hover{
    cursor: pointer;
    border-bottom: solid 1px black;
}
.footer-flex-container{
 

}
.footerblock-2.MyendConter{

    position: absolute;
 
    width: 10000px;
    height: 200px;
}
.footerblock-2.footer-social-2 a:hover{
    cursor: pointer;
    border-bottom: solid 1px black;
}
