footer #footer-nav #footer-nav-bottom ul li ul li {
    text-transform: none;
    font-size: .195em;
    margin: .5em 0;
}
footer #footer-nav #footer-nav-bottom ul li {
    font-size: .85em;
    flex-grow: 1;
}
.footer-flex-container li{
    display: table-cell;
    padding-left: 50px;

}

.footer-flex-container li ul li{

    display: table-cell;
    vertical-align: middle;
    display: block;
    padding: 0;
    position: relative;
    top: 15px;
    

    
   
    
    color: #ccc;
    position: relative;


}
.footer-flex-container li ul li a{
color:#333;
font-weight: 300;
font-size: .95em;
} 
.footer-flex-container li a{ 
    color: #3C4858;
    font-weight: bold;
    font-size: .95em;
    border-bottom: 1px solid transparent;

}
.footer-social{
    position: relative;
    margin-left: 700px;
    bottom: 150px;
    width: 150px;
    background: none;
}
.footer-social ul li{
    display: inline;
    padding-left: 15px;
}
.footer-social a{
    color: #333;
}
#ender li{
    display: inline;
    padding-left: 50px;
    margin: 0;
}
#groupimg{
    max-width: 104px;
    position: relative;
    top: 30px;
}
.footer-nav{
    margin-left: 450px;
   position: relative;
   bottom: 50px;

}
footer #footer-sub p {
    display: block;
    margin-top: 2em;
    margin-bottom: 0;
    font-size: .65em;
    color: #3C4858;
    position: relative;
    right: 185px;
}
#ender li a{
    color: #3C4858;
    font-weight: bold;
    font-size: .95em;
    border-bottom: 1px solid transparent;
}
#ender li a:hover{
    border-bottom: solid 1px black;
}
.footer-flex-container li a:hover{
    border-bottom: solid 1px black;
}