#getbutdiv{
    height: 390px;
    text-align: center;
    background: #9327f5;
    background: -webkit-linear-gradient(30deg, #9327f5 30%, #00aeef 100%);
    background: -o-linear-gradient(30deg, #9327f5 30%, #00aeef 100%);
    background: linear-gradient(30deg, #9327f5 30%, #00aeef 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$purple', endColorstr='$blue',GradientType=1 );
    color: #fff;
    margin-bottom: 100px;

}
.containerjan{
    right: 13px;
    position: relative;
    top: 130px;
}
#downbutget{
    position: absolute;
    left: 870px;
}