
header {  
  background-color: white;  
  position: fixed;  
  border-bottom: #E5E9F2 1px solid;
  top: 0;  
  z-index: 1000;  
  height: 115px;
  width: 100%;  
  
}

#price{
  position: relative;
  right: 20px;
  width: 100px;
}


ul.Spisoks {
 
  position: relative;
  top: 30px;
  border:none 1px solid;
  float:left;
  list-style-type: none;
  display: block;
  margin-left: 10px; /* Обнуляем значение отступов */
  padding: 0px; /* Значение полей */
  width: 187px;
  height: 70px;
 }
 ul.Spisoks li {
   position: relative;
  flex-grow: 1;
  display: list-item;
  text-align: -webkit-match-parent;
  margin-right: 0px; /* Отступ слева */
  
  padding: 3px; /* Поля вокруг текста */
 }

ul.Spisoks ul{
  position: relative;
  right: 4px;
  width:185px;
  margin-left: 0; /* Отступ слева в браузере IE и Opera */
  padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
  margin-top: 42px;


}
.Limon li a{
  position: relative;
  left: 15px;
  top:14px;
}
#max{
  position: relative;
  right:90px;
  height: 70px;
}
ul.Spisoks ul li{
  list-style-type: none; /* Убираем маркеры */
}

.afterspisok .aflinkspis{
  position: relative;
  text-decoration: none;
  top: 15px;
  display: block;
  padding: 0 1.4em;
  font-size: 14px;
  display: table-cell;
  vertical-align: middle;
  line-height: 1.65em;
  color: #3E3E3E;

}
.afterspisok .aflinkspis:hover{
text-decoration: underline;
color: #00aeef;
}
ul.Spisoks ul li a{
  font-weight: 300;
  color: #3E3E3E;
  text-decoration: none;
  font-size: .95em;
}
ul.Spisoks ul li a:hover{
  color: #00aeef;
   text-decoration: underline;

}
.afterspisok{
  height: 60px;
}
#why{
  padding: 0;
  width: 125px;
}

#part{
  position: relative;
  right: 20px;
  width:180px;
  height: 70px;
  
}

.afterspisok ul li{
  background: #fff;


  width:180px;
  height: 55px;
}

#jan{
  width: 90px;
}
#what{
  height: 70px;
}
#what ul li{
  height: 70px;

}
#bro1{
  padding-right: 10px;
  background: #fff;
}
#bro2{

}
#lists{
  position: relative;
  bottom: 52px;
}
.Limon{
  border-top:#F4F6F9 solid 1px;
}


#starter{
  position: relative;
  left: 717px;
  top: 50px
}
ul#starter li {
  list-style-type: none;
  display: inline;
  padding-right: 10px; 

}

#getstart{
  
  border-radius: 5px;
  padding-bottom: 33px;
  background: #00aeef;
}

#getstart a
{
  position: relative;
  top: 15px;
  left: 40px;
  padding-right: 75px;
  font-weight: 300px;
  text-decoration: none;
  color:#fff;
}
#getstart a::after{

}


#logintext a{
  position: relative;
  top: 15px;
  right: 5px;
  font-size: 14px;
  color: #3E3E3E;
  text-decoration: none;
}




#logintext a:hover{
  color:#00aeef;
}




#bro2 img:hover{
  filter: sepia(1);
}

ul#mylogos{
  display: flex;
  margin: 0;
  padding: 0;
  height: 35px;
}
ul#mylogos img{
max-height: 30px;

}
ul#mylogos li{
  position: relative;

  padding-left:10px;
  list-style: none;
}
ul#logos li a{}

#lang{
  margin-left: 1540px;
  width: 100px;
  text-align: center;
  padding-top: 7px;
  background: #E5E9F2;
}
#lang a{
  margin-left: 3px;
  font-size: .6em;
  border: none;
  color: #302d2e;
  background: none;
  border: none;
  text-decoration: none;
  width: 9vw;
  max-width: 115px;
  background: #E5E9F2;
  font-weight: bold;
}
.logsContainer{
  background: #F4F6F9;
}
#adroll{
  background: #fff
}


#RollWorks:hover{
  filter: sepia(1);
}