#site-switcher {
    max-height: 40px;
    width: 100%;
 
   
    padding: 0 1.4em 0 0;
}
header{
    position: fixed;
    top: 0px;
    z-index: 999;
    height: 116px;
    background: #fff;
    border-bottom: #F4F6F9 solid 1px;
}
#site-switcher .nav-logo ul li a img {
    max-height: 15px;
    width: auto;
   
}
#flags img{
    background: red;
    width: 12px;
    height: 8px;
 
}
#site-switcher .nav-logo ul li a {
    display: table-cell;
    vertical-align: middle;
    padding: 3px 1.4em 0;
    cursor: pointer;
    height: 40px;

    position: relative;
    opacity: 1;
}
a{
    color: #00aeef;
    text-decoration: none;
    transition: all 0ms ease-in-out;
}
#logs a{
    transition: all 150ms ease-in-out;
}
a {
    background: transparent;
}
ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#adrolbg{
   width: 120px;
   background: #fff;
}
#offrolworks{
    background: #F4F6F9;
    position: relative;
    bottom: 89px;
    height: 43px;
    width: 2000px;
    margin-left: 120px;
   
  
}
#onrollworks{
   background: #F4F6F9;
   position: absolute;
   bottom: 76px;
   margin-left: 120px;
   
 
   
}
#logs{}
#offadroll{
    background: salmon;
    width: 120px;
    position: relative;
    bottom: 43px;
    opacity: 0;
}
#lang{
    position: relative;
    bottom: 127px;
    left: 1765px;
    border: 1px solid none;

    
    letter-spacing: 0px;
    
    z-index: 9999;
}

#flags li{
    background: #E5E9F2;
    border: none solid 1px;
    height: 30px;
   
 
}

#flags li:hover{
    background: #F4F6F9;
}
#flags{
   height: 270px;
   width: 115px;
   z-index: 9999;
}
#flags li a{
    padding-left: 10px;
    position: relative;
    
    font-size: .6em; 
    vertical-align: middle;
    width: 9vw;
    color: #333;
    text-decoration: none;
    font-weight: bold;
 
}
#bugged{
    margin-top: 4px;
}
#titlelang{
  
    padding-top: 5px;
  
}

#desktop-nav {

    
}
.menu li{
    float: left;
    padding-left: 0px;
  
    position: relative;
    box-sizing: border-box;
    text-align: center;
    
    margin-left: 0px;
    padding: 20px;
    height: 10%;
}
.menu li ul li{
    background: #fff;
    float: none;
    text-align: left;
    padding-left: 20px;
    padding: 5px;
    
    margin: 0;
    clear: both;
    width: 200px;
}
.menu li ul li:hover{
    background: #F4F6F9;
}
.menu li ul li{

   position: relative;
   padding: 10px;
   top: 6px;
}
.menu li ul li a{
    position: relative;
    left: 15px;
    color: #333;
}
.menu li ul li a:hover{
color: #00aeef;
}
.wtfuis{
 position: absolute;
 margin-right: 50px;
}
#ules_0{

}
.menu li{
    
    position: relative;
    top: 5px;
}
.menu a{
    font-size: 14px;
    color: #333;
}
.menu a:hover{
    color: #00aeef;
    text-decoration: underline;
    cursor: pointer;
}
.wtfuis{
    top: 65px;
    left:0px;
}
.show_0,.show_1,.show_2 a{
 
}
.Logins{
   position: relative;
   left: 955px;
   top: 25px;
   z-index: 0;
}
.Logins li{
    margin-left: 23px;
    display: inline;
}

.gradient {
    padding-top: 21px;
    padding-bottom: 15px;
    padding-right: 38px;
    border-radius: 5px;
    background-image: linear-gradient(45deg, #00d4c3, #9327f5);
    color: #fff;
    text-transform: uppercase;
    transition: all 1s cubic-bezier(0.25, 0.8, 0.25, 1);
    font-weight: 400;
    letter-spacing: 1px;
    background-size: 200% auto;
}
.uper{
 
}
.gradient a{
    
    padding-left: 20px;
    position: relative;
    left: 8px;
    color: #fff;
    bottom: 3px;
    font-size: 13px;
    box-sizing: initial;
    letter-spacing: 2px;
}
.lnks{
display: block;
   
    font-size: 14px;
    display: table-cell;
    vertical-align: middle;
    line-height: 1.65em;
    color: #3C4858;
}
.lnks:hover{
color: #00d4c3;
}
.wtfuis li{

}