
header {  
  background-color: white;  
  position: fixed;  
  top: 0;  
  z-index: 1000;  
  height: 115px;
  width: 100%;  
  
}

#price{
  position: relative;
  right: 20px;
  width: 100px;
}

ul.Spisoks {
 
  position: relative;
  top: 30px;
  border:none 1px solid;
  float:left;
  list-style-type: none;
  display: block;
  margin-left: 10px; /* Обнуляем значение отступов */
  padding: 0px; /* Значение полей */
  width: 187px;
  height: 70px;
 }
 ul.Spisoks li {
   position: relative;
  flex-grow: 1;
  display: list-item;
  text-align: -webkit-match-parent;
  margin-right: 0px; /* Отступ слева */
  
  padding: 3px; /* Поля вокруг текста */
 }

ul.Spisoks ul{
  position: relative;
  right: 4px;
  width:185px;
  margin-left: 0; /* Отступ слева в браузере IE и Opera */
  padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
  margin-top: 42px;


}
.Limon li a{
  position: relative;
  left: 15px;
  top:14px;
}
#max{
  position: relative;
  right:90px;
  height: 70px;
}
ul.Spisoks ul li{
  list-style-type: none; /* Убираем маркеры */
}

.afterspisok .aflinkspis{
  position: relative;
  text-decoration: none;
  top: 15px;
  display: block;
  padding: 0 1.4em;
  font-size: 14px;
  display: table-cell;
  vertical-align: middle;
  line-height: 1.65em;
  color: #3E3E3E;

}
.afterspisok .aflinkspis:hover{
text-decoration: underline;
color: #00aeef;
}
ul.Spisoks ul li a{
  font-weight: 300;
  color: #3E3E3E;
  text-decoration: none;
  font-size: .95em;
}
ul.Spisoks ul li a:hover{
  color: #00aeef;
   text-decoration: underline;

}
.afterspisok{
  height: 60px;
}
#why{
  padding: 0;
  width: 125px;
}

#part{
  position: relative;
  right: 20px;
  width:180px;
  height: 70px;
  
}
#laguages{
  position: relative;
  left: 1531px;
  padding-right: 60px;

background: #E5E9F2;
}
#laguages img{
  position: relative;
  bottom: 10px;
  height: 10px;
}
#laguages a{
  font-size: 10px;
    line-height: 2.4em;
    max-height: 88px;
    font-weight: bold;
  position: relative;
  bottom: 12px;
  left: 10px;
}
.afterspisok ul li{
  background: #fff;


  width:180px;
  height: 55px;
}

#jan{
  width: 90px;
}
#what{
  height: 70px;
}
#what ul li{
  height: 70px;

}
#bro1{
  padding-right: 10px;
  background: #fff;
}
#bro2{

}
#lists{
  position: relative;
  bottom: 52px;
}
.Limon{
  border-top:#F4F6F9 solid 1px;
}
ul#logos{


  background: #F4F6F9;
  height: 36px;
  padding-left: 0px;
  margin:0;
  
}
ul#logos li {
  position: relative;
  top:2px;


  padding-top: 20px;
  padding-left: 12px;
  
  list-style-type: none; /* Убираем маркеры */
  display: inline; /* Отображать как строчный элемент */
}

#logos li img{
  max-height: 30px;
}



#starter{
  position: relative;
  left: 717px;
  top: 50px
}
ul#starter li {
  list-style-type: none;
  display: inline;
  padding-right: 10px; 

}

#getstart{
  
  border-radius: 5px;
  padding-bottom: 33px;
  background: #00aeef;
}

#getstart a
{
  position: relative;
  top: 15px;
  left: 40px;
  padding-right: 75px;
  font-weight: 300px;
  text-decoration: none;
  color:#fff;
}
#getstart a::after{

}


#logintext a{
  position: relative;
  top: 15px;
  right: 5px;
  font-size: 14px;
  color: #3E3E3E;
  text-decoration: none;
}




#logintext a:hover{
  color:#00aeef;
}