 
  .homepage-2 {
    text-align: left;
    overflow: hidden;
height: 600px;
margin-top: 810px;
margin-bottom: 130px;
background: #9327f5;
background: -webkit-linear-gradient(top left, #9327f5 0%, #00d4c3 100%);
background: -o-linear-gradient(top left, #9327f5 0%, #00d4c3 100%);
background: linear-gradient(to bottom right, #9327f5 0%, #00d4c3 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$purple', endColorstr='$teal',GradientType=1 );
color: #fff;
}
hr.white-on-left {
    display: block;
    background: #fff;
    border: none;
    width: 150px;
    height: 2px;
    margin: 2.5em 0;
}
h1, h2, h3 {
    font-family: "Lora",serif;
    margin: 0 0 .5em;
    font-weight: 700;
}
h3 {
    font-size: 1.375rem;
    line-height: 2.25rem;
}
#textso{
 
}
.wrapper-tall-top{
    background: none;
    position: absolute;
    margin-left: 470px;
    margin-top:180px ;
}
.logos-container{
    background: none;
    clear: both;

    width: 600PX;
    position: relative;
    left: 920px;
    bottom: 50px;
   
}
.homepage-2 .logo img {
    max-width: 100%;
    max-height: 100%;
}
.homepage-2 .logo {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    vertical-align: top;
    width: 150px;
    height: 60px;
    margin: 10px;
    padding: 5px;

}
.homepage-2 .logos-container {
 
    min-width: 270px;
    text-align: left;
    position: relative;
    top: 0px;
    ;
}
