#main{
  position: relative;
  top:92px;
  z-index: 0;
  }
  
  #OblojkaDiv{
  
    height: 550px;
    overflow: hidden;
    background: #00aeef; 
    margin-top:20px;
    width: 1920px;
    background: -webkit-linear-gradient(top left, #9327f5 0%, #ff1453 100%);
    background: linear-gradient(to bottom right, #9327f5 0%, #ff1453 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$purple', endColorstr='$red',GradientType=1 );
    color: #fff;
  }
  
  
  #bt2{
    z-index: 10000;
  }
  
  #SuperHero img{
    position: relative;
    right: 0px;
    max-height: 500px;
    bottom: 10px;
  }
  #Shapee1{
  background-color:none;
  background-size: 121px;
  position: relative;
  top:150px;
  background-repeat: no-repeat;
  background-image: url("../img/shape1.png");
  width: 107px;
  height: 300px;
  }
  
  #Shapee2{
  background-color:none;
  position: relative;
  left: 1800px;
  bottom: 130px;
  margin: 0px;
  padding: 0px;
  background-size: 141px;
  background-repeat: no-repeat;
  background-image: url("../img/shapeee2.png");
  width: 107px;
  height: 300px;
  }
  
  #SuperHero{
    background: none;
    position: relative;
    left: 950px;
    bottom: 510px;
    
    background-size: 1500px;
    
    
    width:400px;
    height: 450px;
    
  }

  #Infomer h1{
    font-family: "Lora",serif;
    font-size: 2.4rem;
   
  }
  #info h4{
  font-size:20px;
  line-height: 23px;
  position: relative;
  bottom: 14px;
  color:#fff;
  }
  #info a{
    color:#fff;
    text-decoration: none;
  }
  #elems{
    position: relative;
    left: 50px;
  }
  #info{
    
  position: relative;
  border:1px none solid;
  width: 200px;
  height: 180px;
  left: 305px;
  
  bottom:500px;
  }
 
  #dec{
    background: none;
    position: relative;
    right: 500px;
    background-image: url('../img/decore.png');
    background-repeat: no-repeat;
    background-position: 40% 100%;
    width: 1920px;
    bottom: 85px;
    height: 200px;
  }
  #Infomer h1 p {
  position: relative;
  bottom: 55px;
  font-size: 2.4rem;
  }
  
  #info b{
  position: relative;
  bottom: 28px;
  }
  a#bottext{
    position: relative;
    bottom: 10px;
  }
  #info span p{
    font-weight: normal;
    font-size: 17px;
  }
  #info span p br{
    position: relative;
    top: 50px;
  }
  #info p{
  position: relative;
  bottom: 40px;
  font-size:15px;
  font-weight:600;
  
  }
  #Doubled{

  }
  #info #read{
  color:#EFA4D3;
  bottom: 65px;
  }
  #attract{
    font-size: 18px;
  }
  #Infomer p{
  position: relative;
  bottom: 82px;

  padding: 0;
  }
  #Infomer{
  position: relative;
  background: none;
  width:500px;
  left:500px;
  bottom: 930px;
  z-index: 1000;
  }
  
  #getbutton a{
  position: relative;
  left: 20px;
  font-weight: bold;
  }

  #getbutton{
  
  background: red;  
  position: relative;
  bottom: 75px;
  width:160px;
  padding: 11px;
  border-radius: 4px;
  }
  h1 {
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  }
  
  
  body{
    color: #3E3E3E;
  
    font-size: 1rem;
    line-height: 1.667;
  }
  
  h1, h2, h3 {
  
  font-size: 40px;
 
  font-weight: 700;
  }
  
  
  
  
  #bt1{
  background-color: red;
  position: relative;
  bottom:450px;
  background-image: url('../img/slaq.png');
  background-repeat: no-repeat;
  background-size:23px;
  z-index: 99999;
  height: 30px;
  right: 70px;
  border:none;
  }
  
  #bt2{
  background-color: red;
  position: relative;
  left: 500px;
  bottom:450px;
  left:450px;
  background-image: url('../img/slaq2.png');
  background-repeat: no-repeat;
  background-size:23px;
  height: 30px;
  width:15px;
  border:none;
  }
  
  
  
  
  
  
  
  