.Homepge-7{
    position: absolute;
    top: 3140px;
    width: 100%;
    height: 497px;

    background: #fff;
    
}
#cone-conter{
    margin-left: 230px;
    position: absolute;
}
.nastroika{
    max-width: 500px;
}
.my_nastroika_image{
    position: absolute;
    margin-top:180px;
    margin-left: 44px;

}
#my_con_text{
    position: relative;
    left: 680px;
    top: 200px;
}